@import "vars";

.container-about {
  max-width: 900px !important;
}

.about-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
  .about-content {
    margin-right: 50px;
  }
  .about-image--container {
    flex: 1;
    height: 100%;
    margin-top: 16px;
    position: relative;
    &:hover {
      .about-image--img {
        border: 2px solid $white;
      }
      .shade {
        opacity: 0;
      }
    }
    .about-image--img {
      width: 250px;
      max-width: 250px;
      height: 250px;
      max-height: 250px;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      border: 2px solid transparent;
      transition: $transition;
    }
    .shade {
      width: 250px;
      height: 250px;
      background-color: $green;
      position: absolute;
      top: 0;
      opacity: 0.25;
      transition: $transition;
    }
  }
}
.about-tech__wrap {
  display: flex;
  flex-wrap: wrap;
  min-width: 250px;
  max-width: 250px;
}
.about-tech__item {
  font-size: $fz-sm;
  width: calc(100% / 2);
  margin: 5px 0px;

  span {
    color: $green;
  }
}
