@import "vars";

.container-about {
  max-width: 900px !important;
  @media (max-width: 768px) {
    .heading-section {
      padding: 0px;
    }
  }
}

.about-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
  position: relative;
  .about-content {
    margin-right: 50px;
  }
  .about-image--container {
    flex: 1;
    height: 100%;
    margin-top: 16px;
    position: relative;
  }
  @media (max-width: 768px) {
    flex-direction: column-reverse;
  }
}
.about-tech__wrap {
  display: flex;
  flex-wrap: wrap;
  min-width: 300px;
  max-width: 350px;
}
.about-tech__item {
  font-size: $fz-sm;
  width: calc(100% / 2);
  margin: 5px 0px;

  span {
    color: $green;
  }
}

.about-image {
  width: 300px;
  height: 300px;
  &:hover {
    a {
      background: transparent;
      &::after,
      .img {
        background: transparent;
        filter: none;
      }
    }
  }
  a {
    width: 100%;
    height: 100%;
    background-color: $green;
    border-radius: $border-radius;
    vertical-align: middle;
    position: absolute;
    top: 0;
    left: 0;
    transition: $transition;
  }
  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 200;
    transition: $transition;
    background-color: $navy;
    mix-blend-mode: screen;
  }
  img {
    width: 100%;
    height: 100%;
    border-radius: $border-radius;
    mix-blend-mode: multiply;
    filter: grayscale(100%) contrast(1) brightness(90%);
    object-fit: cover;
    object-position: center top;
  }
}
