#tsparticles {
  opacity: 0.5;
  canvas {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: -20 !important;
  }
  @media (max-width: 480px) {
    width: calc(100% / 1);
    padding: 0px;
    margin: 0px 0px 6px 0px;
    display: none;
  }
}
