@import "vars";
.card--grid {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-top: 2rem;
  padding: 0;
  width: 100%;
}

.card--wrapper {
  display: flex;
  // justify-content: space-between;
  align-items: center;
  margin-bottom: 4rem;
  flex-wrap: wrap;
  width: 100%;
  .card {
    border: 1px solid $navy;
    width: calc(100% / 3 - 12px);
    min-height: 300px;
    padding: 6px;
    margin: 6px;
    background-color: $navy-light;
    z-index: 300;
    color: $slate;
    border: 2px solid $navy;
    transition: $transition;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &:hover {
      transform: translateY(-2.5px);
      background-color: $navy;
      border: 2px solid $green;
      border-radius: 4px;
    }
    .card-content {
      padding: 1rem;
    }
    ul {
      display: flex;
      font-size: $fz-xs;
      padding: 1rem;
      li {
        margin-right: 1rem;
      }
    }
    @media (max-width: 1080px) {
      width: calc(100% / 2 - 12px);
    }
    @media (max-width: 768px) {
      width: 100%;
    }
    @media (max-width: 480px) {
      width: calc(100% / 1);
      padding: 0px;
      margin: 0px 0px 6px 0px;
    }
  }
}

.card-icon-container {
  width: 100%;
  color: $green;
  font-size: $fz-xl;
  padding: 12px 0px 24px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
