.card--grid {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 2rem;
  padding: 0;
}

.card--wrapper {
  display: flex;
  width: calc(100% / 3 - 2rem);
  margin-bottom: 4rem;
  .card {
    border: 1px solid;
    img {
      height: 200px;
      width: 100%;
    }
    .card-content {
      padding: 2rem;
    }
  }
}

@media screen and (max-width: 1280px) {
  .card--wrapper {
    width: calc(100% / 2 - 2rem);
  }
}
@media screen and (max-width: 960px) {
  .card--wrapper {
    width: 100%;
  }
}
