@import "vars";

form {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  margin-top: 1rem;
  p {
    margin-top: 1rem;
    // text-align: justify;
    font-size: 1.7rem !important;
  }
  label {
    color: #ffffff;
    display: block;
    font-size: 0.8em;
    font-weight: 600;
    letter-spacing: 0.25em;
    margin: 0 0 1em 0;
    text-transform: uppercase;
  }
}
.form__name-email {
  width: 100%;
  display: flex;
  .name-email-item {
    flex: 1;
    input {
      width: 80%;
      max-width: 80%;
    }
  }
  @media (max-width: 768px) {
    flex-direction: column;
    .name-email-item {
      flex: 1;
      margin-bottom: 2rem;
      input {
        width: 100%;
        max-width: 100%;
      }
    }
  }
}
#email {
  // width: 50% !important;
  margin-top: 1rem !important;
  font-family: Arial;
}

#name {
  // width: 50% !important;
  margin-top: 1rem !important;
  font-family: Arial;
}

#message {
  min-width: 100%;
  min-height: 25rem;
  margin-top: 1rem !important;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="name"],
input[type="tel"],
input[type="search"],
input[type="url"],
select {
  height: 2.75em;
}

input[type="email"],
input[type="name"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="url"],
textarea {
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
  background: rgba(212, 212, 255, 0.035);
  border: none;
  border-radius: 0;
  color: inherit;
  display: block;
  outline: 0;
  padding: 0 1em;
  text-decoration: none;
  width: 100%;
  color: #fff;
}
input,
textarea {
  font-size: 17pt;
  font-weight: 300;
  letter-spacing: 0.025em;
  line-height: 1.65;
}

input:focus {
  outline: none !important;
  border: 2px solid $green;
}

textarea:focus {
  outline: none !important;
  border: 2px solid $green;
}

.container--get-in-touch {
  padding-top: 90px;
  // @include flex-center();
  flex-direction: column;
  max-width: 400px !important;
  word-break: break-all;
  @media (max-width: 768px) {
    align-items: flex-start;
  }
}

.container--form {
  button {
    display: none;
    border: none;
    box-sizing: border-box;
    background-color: initial;
    border: 0;
    border-radius: 0;
    border: 1px solid $green;
    color: $green;
    cursor: pointer;
    font-family: $font-mono;
    font-size: $fz-sm;
    width: fit-content;
    letter-spacing: 0.25em;
    line-height: 3.5em;
    padding: 0 1.75em;
    text-decoration: none;
    text-transform: uppercase;
    white-space: nowrap;
    margin: 2rem 0rem 2rem 0rem;
    @include transition(0.3s cubic-bezier(0.5, 0, 0.5, 1));
    @include flex-center();
    &:hover {
      background-color: $navy-light;
    }
  }
}

.container--form {
  min-height: 100vh;
  .hello {
    padding-top: 150px;
    @media (max-width: 768px) {
      padding-top: 0px;
    }
  }
  @media (max-width: 1080px) {
    min-height: calc(100vh - 100px);
  }
  @media (max-width: 768px) {
    min-height: calc(100vh - 150px);
  }
  @media (max-width: 480px) {
    min-height: calc(100vh - 150px);
  }
}
