@import 'vars';

footer {
  width: 100%;
  padding: 2rem 0rem 2rem 0rem;
  display: flex;
  justify-content: center;
  align-items: center;
  .footer__top {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .footer__bottom {
    width: 100%;
    display: flex;
    justify-content: center !important;
    align-items: center;
    .social-item {
      padding: 1rem;
      transition: .3s cubic-bezier(.5,0,.5,1);
      &:hover {
        color: $red;
      }
    }
  }
}
