@import "vars";

header {
  position: fixed;
  z-index: 200 !important;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 86px;
  transform: translateY(0);
  transition: all 0.3s ease;
  box-shadow: 0 10px 30px -10px var(--navy-shadow);
  @include flex-center();
  width: 100%;
  padding: 0px 40px;
  @media (max-width: 1080px) {
    padding: 0px 40px;
  }
  @media (max-width: 768px) {
    padding: 0px 25px;
  }
  @media (max-width: 480px) {
    padding: 0px 25px;
  }
  .inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
}

.nav-items {
  @include flex-center();
  font-size: $fz-sm;
  color: $white;
  li {
    padding: $fz-sm;
    transition: $transition;
    text-transform: capitalize;
    cursor: pointer;
    span {
      // margin-right: 0.5rem;
      font-family: $font-mono;
    }
    &:hover {
      color: $green;
    }
  }
  @media (max-width: 768px) {
    display: none;
  }
}

.header.shadow {
  box-shadow: 0 9px 9px -9px rgba(0, 0, 0, 0.13);
  background-color: $navy;
}

.header.hidden {
  transform: translateY(-110%);
}
