@import "vars";

.container--intro {
  min-height: 100vh;
  .hello {
    padding-top: 150px;
    @media (max-width: 768px) {
      padding-top: 0px;
    }
  }
  @media (max-width: 768px) {
    min-height: 50vh;
  }
}
