@import "vars";

.container--intro {
  min-height: 100vh;
  .hello {
    padding-top: 150px;
    @media (max-width: 768px) {
      padding-top: 0px;
    }
  }
  @media (max-width: 1080px) {
    min-height: calc(100vh - 100px);
  }
  @media (max-width: 768px) {
    min-height: calc(100vh - 150px);
  }
  @media (max-width: 480px) {
    min-height: calc(100vh - 150px);
  }
}
