@import "vars";

.logo {
  @include flex-center();
  padding: 10px;
  width: 22px;
  height: 42px;
  position: relative;
  transition: $transition;
  .logo--d {
    @include flex-center();
    .logo--d-l {
      height: 16px;
      width: 16px;
      transform: translateX(18px) rotate(-134deg);
      border-top: 3px solid $slate;
      border-right: 3px solid $slate;
      opacity: 0.8;
      left: 0;
      transition: $transition;
    }
    .logo--d-c {
      height: 15px;
      border-right: 3px solid $green;
      position: relative;
      transform: translateX(14px) translateY(-2px) rotate(25deg);
      //   transform: translateX(14px) translateY(-2px) rotate(12deg);
    }
    .logo--d-r {
      height: 22px;
      width: 22px;
      transform: rotate(45deg);
      border-top: 3px solid $green;
      border-right: 3px solid $green;
      left: 0;
    }
  }
  &:hover {
    .logo--d-l {
      border-top: 3px solid $white;
      border-right: 3px solid $white;
      opacity: 1;
      transform: translateY(0px) rotate(-134deg);
    }
  }
}
