@import "vars";

html {
  box-sizing: border-box;
  width: 100%;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
}

body {
  line-height: 1.6;
  font-size: $fz-xl;
  background: $navy;
  color: $white;
  position: relative;
  font-family: "Fira Sans";
  margin: 0;
  width: 100%;
  min-height: 100%;
  overflow-x: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  background-color: $navy;
  color: $slate;
  font-family: $font-sans;
  font-size: $fz-xl;
}

main {
  margin: 0 auto;
  width: 100%;
  max-width: 1600px;
  min-height: 100vh;
  padding: 150px 150px;
  display: flex;
  justify-content: center;

  @media (max-width: 1080px) {
    padding: 150px 100px;
  }
  @media (max-width: 768px) {
    padding: 150px 50px;
  }
  @media (max-width: 480px) {
    padding: 125px 25px;
  }
  &.fillHeight {
    padding: 0 150px;
    @media (max-width: 1080px) {
      padding: 0 100px;
    }
    @media (max-width: 768px) {
      padding: 0 50px;
    }
    @media (max-width: 480px) {
      padding: 0 25px;
    }
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 10px 0;
  font-weight: 600;
  color: $slate-lightest;
  line-height: 1.1;
}

p {
  font-size: $fz-md;
}

ol,
ul {
  list-style: none;
  padding: 0px;
}

a,
button {
  cursor: pointer;
}
