@import "vars";

.mobile-nav--selector {
  width: 25px;
  height: 20px;
  justify-content: space-between;
  align-items: flex-end;
  flex-direction: column;
  display: none;
  cursor: pointer;
  .bar {
    background-color: $green;
    height: 2px;
    border-radius: 3px;
    &.bar-1 {
      width: 100%;
    }
    &.bar-2 {
      width: 75%;
    }
    &.bar-3 {
      width: 50%;
    }
  }
  @media (max-width: 768px) {
    display: flex;
  }
}

.mobile-nav--tray {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  width: fit-content;
  height: 100vh;
  min-width: 100vw;
  background-color: $white;
  display: flex;
  flex-direction: column;
  ul {
    padding: 0px 30px;
    li {
      padding: 1rem 0rem;
      text-transform: capitalize;
      border-bottom: 1px solid $navy;
      cursor: pointer;
      span {
        color: $slate;
      }
    }
    a {
      text-decoration: none;
      color: $navy;
      span {
        color: $slate;
        padding-right: 6px;
      }
    }
  }
}

.nav-top {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $white;
  .logo {
    margin-left: 2rem;
    .logo--d {
      .logo--d-l {
        border-top: 3px solid $slate;
        border-right: 3px solid $slate;
      }
      .logo--d-c {
        border-right: 3px solid $navy;
      }
      .logo--d-r {
        border-top: 3px solid $navy;
        border-right: 3px solid $navy;
      }
    }
  }
  .nav-close--icon {
    padding: 1rem;
    display: flex;
    justify-content: center;
    cursor: pointer;
    svg {
      fill: $navy;
    }
  }
}
