@import "vars";

#modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 200;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(40, 41, 49, 0.85);
  overflow: hidden;
  .modal__content {
    max-width: 600px;
    margin: 0px 32px;
    background-color: $navy;
    padding: 3rem;
    border-radius: $border-radius;
    border: 2px solid $green;
    z-index: 150;

    h1 {
      color: $green;
    }
  }
}

.modal__content-message {
  font-size: $fz-lg !important;
}

.modal__social {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  text-decoration: none;
  .social-item {
    padding: 1rem;
    transition: 0.3s cubic-bezier(0.5, 0, 0.5, 1);
    color: $slate;
    &:hover {
      color: $green;
    }
  }
  .rule-custom {
    border: 1px solid $green;
    height: 1px;
    flex: 0;
    animation-name: drawRule;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.85, 0, 0.15, 1);
    animation-duration: 0.6s;
    animation-delay: 0.4s;
  }
}

@keyframes drawRule {
  0% {
    flex: 0;
  }
  100% {
    flex: 1;
  }
}
